label {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    background-color: rgb(240, 240, 240);
    height: 30px;
    width: -webkit-fill-available;
    padding: 0;
}

select {
    background-color: rgb(240, 240, 240);
    height: 30px;
    width: -webkit-fill-available;
    border-color: rgb(118, 118, 118);
    border-width: 2px;
}

button {
    background-color: rgb(240, 240, 240);
    height: 30px;
    width: -webkit-fill-available;
    border-color: rgb(118, 118, 118);
    border-width: 2px;
}

table {
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    border-width: 2px;
    padding: 0.5rem;
    width: 200px;
}

td {
    border: 1px solid black;
    border-width: 2px;
    padding: 0.5rem;
}

h2 {
    font-size: 13pt;
}

.main-container {
    display: flex;
    justify-content: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 200px;
    justify-self: center;
}

.boxinator-button {
    margin-top: 8px;
    width: 50%;
    background-color: green;
    border-radius: 12%;
    font-weight: bold;
}

.redirect-button {
    display: flex;
    justify-content: center;
}

.submit-button-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.table-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.color-picker-div {
    width: 100%;
}

.calculations-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.boxinator-nav {
    height: 2vh;
    color: #F4FAFF;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a{
    margin-left: 75px;
    margin-right: 75px;
    display: block;
    color: #000;
}